/* Development by : Pavan Perera */
/* We Are Designers */


@font-face {
    src: url(../fonts/MyriadPro-Regular.otf);
    font-family: Myriad;

}
@font-face {
    src: url(../fonts/Times.ttc);
    font-family: Tim;

}

/* General */

@viewport {
    user-zoom: fixed;
}
html{
    overflow-x: hidden;

}

body {
    font-family: Tim;
    font-size: 18px;
    overflow-x: hidden;
    color: #716a5a;

}
.full-imag-size {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    min-height: 100%;
}
.fullsize-img {
    object-fit: cover;
    width: 100%;
}
.mr-b{
    margin-bottom: 40px;
}
.mr-t{
    margin-top: 40px;
}
.mr-r{
    margin-right: 40px;
}
.mr-l{
    margin-left: 40px;
}
.right{
    float: right;
}
.left{
    float: left;
}
section{
    position: relative;
}
.view-height-section{
    height: 100vh;
    position: relative;
}

/* swiper 1 */
.swiper-container {
    width: 100%;
    height: 100%;
  }

 .main-slider .swiper-slide {
    height: 100vh;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.logo-top{
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 1000;
}
.main-slider.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 96%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.main-slider .swiper-pagination-bullet-active{
    background-color: #f2f2f2 !important;

}
.main-slider .swiper-pagination-bullet{
    background-color: #f2f2f2 !important;

}
.main-slider .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 50%;
    opacity: 0.9;
}
.top-back{
    width: 100%;
}
/* Navigation */
.top-illus{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-height: 100%;

}
.top-shade{
    position: absolute;
    top: 0px;
    z-index: 1;

}
.bg-spcl{
    background-image: url(../images/menu-1.png);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Tim;
    font-size: 20px;
    color: #fff !important;
    text-transform: uppercase;
    z-index: 1002;

}
.nav-item{
    padding: 10px 20px;
    z-index: 1002;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    z-index: 1002;
    opacity: .8;
    transition: .3s;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #6acae1 !important;

}
.title-main{
    font-family: Tim;
    font-size: 90px;
    line-height: .9;
    color: #716a5a;
    text-align: center;
    padding-top: 60px;
}

.desc-main{
    font-family: Tim;
    font-size: 20px;
    color: #716a5a;
    text-align: center;
    padding-top: 10px;
}
.desc-main span{
    font-size: 35px;

}
.second-slider-sec{
    padding-top: 80px;
    padding-left: 165px;
    padding-right: 165px;
}
.second-slider .swiper-slide {
    height: 650px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .second-slider.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 96%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.second-slider .swiper-pagination-bullet-active{
    background-color: #f2f2f2 !important;

}
.second-slider .swiper-pagination-bullet{
    background-color: #f2f2f2 !important;

}
.second-slider .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 50%;
    opacity: 0.9;
}
.ilus-3{
    position: absolute;
    /* max-height: 100%; */
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0.3;
}
.bg-brown{
    background-image: url(../images/brown-box.png);
    width: 100%;
    margin: 0 !important;
}
.cont-sec{
    padding: 200px 0 100px 0;
}
.float-section{
    margin-top: -165px;
}
.title-main2{
    font-family: Tim;
    font-size: 90px;
    line-height: .9;
    color: #353228;
    text-align: center;
    padding-top: 60px;
}

.desc-main2{
    font-family: Tim;
    font-size: 20px;
    color: #353228;
    text-align: center;
    padding: 20px 300px;

}
.desc-main2 span{
    font-size: 35px;

}

.Aran-btn{
    text-align: center;
}
.Aran-btn a{
    color: #353228;
    text-align: center !important;
    font-size: 24px;
    padding: 8px 25px;
    border: 2px solid  #353228;
    margin: auto;
    transition: .3s;
}
.Aran-btn a:hover{
    color: #fff;
    background: #353228;
    text-decoration: none;
    padding: 12px 30px;


}
.cont-sec2{
    padding: 50px 0 50px 0;
}
.cont-sec2-1{
    padding: 50px 100px 50px 100px;
}
.chair{
    position: absolute;
    top: 7%;
    left: 29%;
    width: 290px;
    z-index: 1001;
}

/* slider-3 */

.third-slider-sec{
    padding-top: 80px;
    padding-left: 165px;
    padding-right: 165px;
}
.third-slider .swiper-slide {
    height: 100vh;
    text-align: center;
    font-size: 18px;

    display: flex;

    opacity: 0 !important;
  }
  .third-slider .swiper-slide-active {
    opacity: 1 !important;
 
  }
  .third-slider.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 47%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.third-slider .swiper-pagination-bullet-active{
    background-color: #f2f2f2 !important;

}
.third-slider .swiper-pagination-bullet{
    background-color: #f2f2f2 !important;

}
.third-slider .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 50%;
    opacity: 0.9;
}
.float-slide-part {
    width: 800px;
    height: 340px;
    position: absolute;
    bottom: 600px;
    left: 46%;
    z-index: 1002;
    background-color: #998e7a;
    color: #353228;
}
.sp-col{
    color: #353228 !important;
    padding: 40px 80px;
}
.float-lodgin{
    position: absolute;
    top: 75px;
    width: 38%;
}
.shadow-img{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.sp-size-img{
    height: 90vh;
    object-fit: cover;
    width: 100%;
}
.back-box{
    position: absolute;
    top: 55px;
    right: -35px;
    height: 70vh;
    z-index: -1;
}
.fish{
    position: absolute;
    bottom: -85px;
    right: -200px;
    width: 470px;
    
}
.shade{
    z-index:-1;
    position: absolute;
    bottom: -105px;
}
.fish-illus {
    position: absolute;
    top: -455px;
    left: 0px;
    width: 100%;
}
.pad-remove .title-main{
    padding-top: 0;
}
.pad-remove .desc-main{
    padding: 20px 50px 35px 50px;
}
.break-pad{
    padding-top: 250px;
    padding: 250px 100px 100px 100px;
}
.back-beach{
    position: absolute;
    left: 0;
    bottom: 4%;
    height: 650px;
    z-index: -1;
}
.top-illus2 {
    position: absolute;
    top: -110px;
    left: 0px;
    width: 100%;
    z-index: -2;
}
.roots{
    padding: 40px 530px;
}
.back-box2 {
    position: absolute;
    top: -55px;
    right: -30px;
    height: 80vh;
    z-index: -1;
}
.adjst-pad{
    padding: 50px 0px 120px 0px;
}
.boat-sec .title-main{
    padding-top: 180px;
}
.boat-sec .desc-main{
    padding: 35px 60px;
}
.adjst-pad2 {
    padding: 50px 0px 100px 0px;
}
.top-illus3 {
    position: absolute;
    top: -110px;
    left: 0px;
    width: 100%;
    z-index: -2;
    opacity: .4;
}
.footer{
    padding: 30px 10px 10px 10px;
}
.footer-head{
    color: #fff;
    text-align:  right;
    font-weight: 500;
   
}
.footer-head span{
    color: #fff;
    text-align:  right;
    font-weight: 600;
    font-size: 20px;
   
}
.footer-head a{
    color: #fff;
    text-align:  right;
    font-weight: 500;
   
}
.concept{
    color: #fff;
    font-size: 15px;
    text-align: right;
    bottom: 0;
    position: absolute;
    right: 0;
}
.line1{
    position: absolute;
    bottom: -450px;
    left: 95px;
    transform: rotate(
        90deg
        );
}
.line2{
    position: absolute;
    bottom: -140px;
    left: -70px;
}
.line3 {
    position: absolute;
    top: -425px;
    left: 500px;
    transform: rotate( 
90deg
 );
}

.banner-inner{
    height: 60vh;
}
.inner-content{
    padding: 20px 500px;
}
.inner-slider {
    padding-top: 80px;
    padding-left: 165px;
    padding-right: 165px;
    padding-bottom: 120px;
}
.brown-mask{
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 65px;
    left: 0;
}
.title-main span{
    font-size: 50px;
}
.sp-pad-bg{
    padding: 60px 0px;
}
.sp-pad-bg .cont-sec2-1 {
    padding: 70px 100px 70px 100px;
    min-height: 700px;
}
.sp-pad-bg .title-main, .sp-pad-bg .desc-main {
    color: #353228;
}
.pad-top-break{
    padding: 60px 0 100px 0;
}
.social{
    margin-right: 5px;
    width: 25px;
    height: 25px;
}
.map iframe{
    width: 100% !important;
    height: 600px;
}
.map .brown-mask{
    z-index: -1;
    bottom: 0px;
}
.map.inner-slider {
    padding-top: 15px;
    padding-left: 165px;
    padding-right: 165px;
    padding-bottom: 60px;
}

.abt .title-main{
    padding-top: 0;
}
.abt .bg-brown .cont-sec2-1 {
    padding-top: 180px;
}
.abt{
    margin-bottom: 100px;
}
.back-box-f{
    position: absolute;
    bottom: 0;
    right: -35px;
    height: 70vh;
    z-index: -1;
}
.mob-show{
    display: none;
}
.desc-main a {
    color: #716a5a;
}

/* Responsive */

/* Media Queries */


@media (max-width: 480px) {
    #home .logo-top {
        position: absolute;
        top: 80px;
        left: 25px;
        z-index: 1000;
        height: unset;
    }
    .logo-top {
        position: absolute;
        top: 80px;
        left: 25px;
        z-index: 1000;
        height: 150px;
    }
    .top-back{
        width: unset;
    }
    .bg-spcl{
        width: 100%;
    }
    .navbar{
        position: fixed;
        top: 0;
    }
    .main-slider.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 85%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    .title-main {
        font-family: Tim;
        font-size: 50px;
        line-height: .9;
        color: #716a5a;
        text-align: center;
        padding-top: 30px;
    }
    .second-slider-sec{
        padding: 0px;
    }
    .second-slider .swiper-slide {
        height: 370px;
    }
    .second-slider.swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 40px !important;

    }
    .second-slider.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 85%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    .title-main2 {
        font-family: Tim;
        font-size: 50px;
        line-height: .9;
        color: #353228;
        text-align: center;
        padding-top: 60px;
    }
    .desc-main2 {
        font-family: Tim;
        font-size: 20px;
        color: #353228;
        text-align: center;
        padding: 20px 20px;
    }
    .cont-sec {
        padding: 150px 0 50px 0;
    }
    .float-lodgin {
        position: unset;
        width: 100%;
    }
    .cont-sec2-1 {
        padding: 20px 10px 20px 10px;
    }
    .float-slide-part{
        position: unset;
        width: 100%;
        height: 470px;
    }
    .sp-col {
        color: #353228 !important;
        padding: 20px 25px;
    }
    .third-slider .swiper-slide{
        height: 100%;
    }
    .chair{
        display: none !important;
    }
    .pad-remove{
        margin-top: 40px;
    }
    .pad-remove .desc-main {
        padding: 20px 0px 35px 0px;
    }
    .back-beach {
        position: absolute;
        left: 0;
        bottom: 4%;
        height: unset;
        z-index: -1;
    }
    .break-pad {
        padding: 20px 20px 20px 20px;
    }
    .roots {
        padding: 40px 10px;
    }
    .adjst-pad {
        padding: 50px 0px 0px 0px;
    }
    .back-box2{
        display: none;
    }
    .boat-sec .title-main {
        padding-top: 20px;
    }
    .boat-sec .desc-main {
        padding: 35px 0px;
    }
    .adjst-pad2 {
        padding: 50px 0px 40px 0px;
    }
    .mob-remove{
        display: none;
    }
    .mob-show{
        display: block;
    }
    .concept{
        position: unset;
        text-align: center;

    }
    .footer-head span , .footer-head{
        text-align: center;
    }
    .inner-content {
        padding: 20px 20px;
    }
    .sp-pad-bg{
        padding: 0;
    }
    .sp-pad-bg .cont-sec2-1 {
        padding: 30px 20px 30px 20px;
        min-height: unset;
    }
    .pad-top-break {
        padding: 60px 0 20px 0;
    }
    .abt .bg-brown .cont-sec2-1 {
        padding-top: 20px;
    }
    .abt {
        margin-bottom: 0px;
    }
    .map.inner-slider {
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
    }
    .inner-slider {
        padding-top: 80px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 60px;
    }

}

/*IPHONE 5*/
@media (max-width: 320px) {
    


}
@media (min-width: 480px) and (max-width: 767px) {
    #home .logo-top {
        position: absolute;
        top: 80px;
        left: 25px;
        z-index: 1000;
        height: 150px;
    }
    .logo-top {
        position: absolute;
        top: 80px;
        left: 25px;
        z-index: 1000;
        height: 150px;
    }
    .top-back{
        width: unset;
    }
    .bg-spcl{
        width: 100%;
    }
    .navbar{
        position: fixed;
        top: 0;
    }
    .main-slider.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 85%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    .title-main {
        font-family: Tim;
        font-size: 50px;
        line-height: .9;
        color: #716a5a;
        text-align: center;
        padding-top: 30px;
    }
    .second-slider-sec{
        padding: 0px;
    }
    .second-slider .swiper-slide {
        height: 370px;
    }
    .second-slider.swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 40px !important;

    }
    .second-slider.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 85%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    .title-main2 {
        font-family: Tim;
        font-size: 50px;
        line-height: .9;
        color: #353228;
        text-align: center;
        padding-top: 60px;
    }
    .desc-main2 {
        font-family: Tim;
        font-size: 20px;
        color: #353228;
        text-align: center;
        padding: 20px 20px;
    }
    .cont-sec {
        padding: 150px 0 50px 0;
    }
    .float-lodgin {
        position: unset;
        width: 100%;
    }
    .cont-sec2-1 {
        padding: 20px 20px 20px 20px;
    }
    .float-slide-part{
        position: unset;
        width: 100%;
        height: 470px;
    }
    .sp-col {
        color: #353228 !important;
        padding: 20px 25px;
    }
    .third-slider .swiper-slide{
        height: 100%;
    }
    .chair{
        display: none !important;
    }
    .pad-remove{
        margin-top: 40px;
    }
    .pad-remove .desc-main {
        padding: 20px 0px 35px 0px;
    }
    .back-beach {
        position: absolute;
        left: 0;
        bottom: 4%;
        height: unset;
        z-index: -1;
    }
    .break-pad {
        padding: 20px 20px 20px 20px;
    }
    .roots {
        padding: 40px 10px;
    }
    .adjst-pad {
        padding: 50px 0px 0px 0px;
    }
    .back-box2{
        display: none;
    }
    .boat-sec .title-main {
        padding-top: 20px;
    }
    .boat-sec .desc-main {
        padding: 35px 0px;
    }
    .adjst-pad2 {
        padding: 50px 0px 40px 0px;
    }
    .mob-remove{
        display: none;
    }
    .concept{
        position: unset;
        text-align: center;

    }
    .footer-head span , .footer-head{
        text-align: center;
    }
    .inner-content {
        padding: 20px 20px;
    }
    
    .ilus-3 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        opacity: 0.3;
        height: 100%;
    }
    .sp-pad-bg{
        padding: 0;
    }
    .sp-pad-bg .cont-sec2-1 {
        padding: 30px 20px 30px 20px;
        min-height: unset;
    }
    .pad-top-break {
        padding: 60px 0 20px 0;
    }
    .abt .bg-brown .cont-sec2-1 {
        padding-top: 20px;
    }
    .abt {
        margin-bottom: 0px;
    }
    .map.inner-slider {
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
    }
    .inner-slider {
        padding-top: 80px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 60px;
    }


}
@media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
    #home .logo-top {
        position: absolute;
        top: 80px;
        left: 25px;
        z-index: 1000;
        height: unset;
    }
    .logo-top {
        position: absolute;
        top: 80px;
        left: 25px;
        z-index: 1000;
        height: 150px;
    }
    .top-back{
        width: unset;
    }
    .bg-spcl{
        width: 100%;
        font-size: 16px;
    }
    .nav-item {
        padding: 10px 10px;
        z-index: 1002;
    }
    .main-slider.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 85%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    .title-main {
        font-family: Tim;
        font-size: 50px;
        line-height: .9;
        color: #716a5a;
        text-align: center;
        padding-top: 30px;
    }
    .second-slider-sec{
        padding: 80px;
        padding-bottom: 10px;
    }
    .ilus-3 {
        height: 100%;
    }
    .second-slider .swiper-slide {
        height: 370px;
    }
    .second-slider.swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 40px !important;

    }
    .second-slider.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 85%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    .title-main2 {
        font-family: Tim;
        font-size: 50px;
        line-height: .9;
        color: #353228;
        text-align: center;
        padding-top: 60px;
    }
    .desc-main2 {
        font-family: Tim;
        font-size: 20px;
        color: #353228;
        text-align: center;
        padding: 20px 35px;
    }
    .cont-sec {
        padding: 150px 0 50px 0;
    }
    .float-lodgin {
        position: absolute;
        top: 105px;
        width: 38%;
    }
    .cont-sec2-1 {
        padding: 20px 30px 20px 30px;
    }
    .float-slide-part {
        width: 800px;
        height: 265px;
        position: absolute;
        bottom: 30px;
        left: 46%;
        z-index: 1002;
        background-color: #998e7a;
        color: #353228;
    }
    .shade {
        z-index: -1;
        position: absolute;
        bottom: -35px;
    }
    .fish {
        position: absolute;
        bottom: -15px;
        right: -200px;
        width: 470px;
    }
    .sp-col {
        color: #353228 !important;
        padding: 20px 35px;
    }
    .third-slider .swiper-slide{
        height: 100%;
    }
    .chair {
        position: absolute;
        top: 1%;
        left: 18%;
        width: 290px;
        z-index: 1001;
    }
    .pad-remove{
        margin-top: 0px;
    }
    .pad-remove .desc-main {
        padding: 20px 0px 35px 0px;
    }
    .back-beach {
        position: absolute;
        left: 0;
        bottom: 4%;
        height: unset;
        z-index: -1;
    }
    .break-pad {
        padding: 160px 20px 20px 20px;
    }
    .roots {
        padding: 40px 10px;
    }
    .adjst-pad {
        padding: 50px 0px 0px 0px;
    }
    .back-box2{
        display: none;
    }
    .boat-sec .title-main {
        padding-top: 20px;
    }
    .boat-sec .desc-main {
        padding: 35px 0px;
    }
    .adjst-pad2 {
        padding: 50px 0px 40px 0px;
    }
    
    .concept{
        text-align: right;
        bottom: 0;
        position: absolute;
        right: 0;

    }
    .footer-head span , .footer-head{
        text-align: center;
    }
    .inner-content {
        padding: 20px 20px;
    }
    .footer-head span {
        color: #fff;
        text-align: right;
        font-weight: 600;
        font-size: 16px;
    }
    .sp-pad-bg{
        padding: 0;
    }
    .sp-pad-bg .cont-sec2-1 {
        padding: 30px 20px 30px 20px;
        min-height: unset;
    }
    .pad-top-break {
        padding: 60px 0 20px 0;
    }
    .abt .bg-brown .cont-sec2-1 {
        padding-top: 20px;
    }
    .abt {
        margin-bottom: 0px;
    }
    .map.inner-slider {
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
    }
    .inner-slider {
        padding-top: 80px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 60px;
    }
    .height-change{
        height: 100%;
    }
    .back-box-f {
        position: absolute;
        bottom: 60px;
        right: -170px;
        height: 70vh;
        z-index: -1;
    }

}
@media(min-width:768px) and (max-height: 1024px) and (orientation:portrait){

    #home .logo-top {
        position: absolute;
        top: 80px;
        left: 25px;
        z-index: 1000;
        height: unset;
    }
    .logo-top {
        position: absolute;
        top: 80px;
        left: 25px;
        z-index: 1000;
        height: 150px;
    }
    .top-back{
        width: unset;
    }
    .bg-spcl{
        width: 100%;
    }
    .navbar{
        position: fixed;
        top: 0;
    }
    .main-slider.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 85%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    .title-main {
        font-family: Tim;
        font-size: 50px;
        line-height: .9;
        color: #716a5a;
        text-align: center;
        padding-top: 30px;
    }
    .second-slider-sec{
        padding: 80px;
        padding-bottom: 10px;
    }
    .ilus-3 {
        height: 100%;
    }
    .second-slider .swiper-slide {
        height: 370px;
    }
    .second-slider.swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 40px !important;

    }
    .second-slider.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 85%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    .title-main2 {
        font-family: Tim;
        font-size: 50px;
        line-height: .9;
        color: #353228;
        text-align: center;
        padding-top: 60px;
    }
    .desc-main2 {
        font-family: Tim;
        font-size: 20px;
        color: #353228;
        text-align: center;
        padding: 20px 35px;
    }
    .cont-sec {
        padding: 150px 0 50px 0;
    }
    .float-lodgin {
        position: unset;
        width: 100%;
    }
    .cont-sec2-1 {
        padding: 20px 30px 20px 30px;
    }
    .float-slide-part{
        position: unset;
        width: 100%;
        height: 100%;
    }
    .sp-col {
        color: #353228 !important;
        padding: 20px 35px;
    }
    .third-slider .swiper-slide{
        height: 100%;
    }
    .chair{
        display: none !important;
    }
    .pad-remove{
        margin-top: 0px;
    }
    .pad-remove .desc-main {
        padding: 20px 0px 35px 0px;
    }
    .back-beach {
        position: absolute;
        left: 0;
        bottom: 4%;
        height: unset;
        z-index: -1;
    }
    .break-pad {
        padding: 160px 20px 20px 20px;
    }
    .roots {
        padding: 40px 10px;
    }
    .adjst-pad {
        padding: 50px 0px 0px 0px;
    }
    .back-box2{
        display: none;
    }
    .boat-sec .title-main {
        padding-top: 20px;
    }
    .boat-sec .desc-main {
        padding: 35px 0px;
    }
    .adjst-pad2 {
        padding: 50px 0px 40px 0px;
    }
    .mob-remove{
        display: none;
    }
    .mob-show{
        display: block;
    }
    .concept{
        text-align: right;
        bottom: 0;
        position: absolute;
        right: 0;

    }
    .footer-head span , .footer-head{
        text-align: center;
    }
    .inner-content {
        padding: 20px 20px;
    }
    .footer-head span {
        color: #fff;
        text-align: right;
        font-weight: 600;
        font-size: 16px;
    }
    .sp-pad-bg{
        padding: 0;
    }
    .sp-pad-bg .cont-sec2-1 {
        padding: 30px 20px 30px 20px;
        min-height: unset;
    }
    .pad-top-break {
        padding: 60px 0 20px 0;
    }
    .abt .bg-brown .cont-sec2-1 {
        padding-top: 20px;
    }
    .abt {
        margin-bottom: 0px;
    }
    .map.inner-slider {
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
    }
    .inner-slider {
        padding-top: 80px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 60px;
    }


}
@media (min-width: 1024px) and (max-width: 1280px) {
    .bg-spcl{
        font-size: 16px;
    }
    .nav-item {
        padding: 10px 10px;
        z-index: 1002;
    }
	.title-main {
        font-family: Tim;
        font-size: 65px;
        line-height: .9;
        color: #716a5a;
        text-align: center;
        padding-top: 60px;
    }
    .ilus-3 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        opacity: 0.3;
        height: 100%;
    }
    .float-lodgin {
        position: absolute;
        top: 70px;
        width: 40%;
    }
    .cont-sec2-1 {
        padding: 20px 40px 20px 40px;
    }
    .float-slide-part {
        width: 800px;
        height: 340px;
        position: absolute;
        bottom: 165px;
        left: 25%;
        z-index: 1002;
        background-color: #998e7a;
        color: #353228;
    }
    .pad-remove .desc-main {
        padding: 10px 20px 20px 20px;
    }
    .back-beach {
        position: absolute;
        left: 0;
        bottom: 4%;
        height: 450px;
        z-index: -1;
    }
    .adjst-pad {
        padding: 0px 0px 60px 0px;
    }
    .roots {
        padding: 40px 130px;
    }
    .title-main2 {
        font-family: Tim;
        font-size: 65px;
        line-height: .9;
        color: #353228;
        text-align: center;
        padding-top: 60px;
    }
    .boat-sec .title-main {
        padding-top: 60px;
    }
    .back-box2 {
        position: absolute;
        top: -55px;
        right: -260px;
        height: 80vh;
        z-index: -1;
    }

    .top-back{
        width: unset;
    }
    .bg-spcl{
        width: 100%;
    }
    .inner-content {
        padding: 20px 200px;
    }
    .sp-pad-bg .cont-sec2-1 {
        padding: 20px 20px 20px 20px;
        min-height: unset;
    }
    .sp-pad-bg {
        padding: 20px 0px;
    }
    .title-main {

        padding-top: 10px;
    }
    .height-change{
        height: 100%;
    }
    .abt .bg-brown .cont-sec2-1 {
        padding-top: 50px;
    }
    .back-box-f {
        position: absolute;
        bottom: 40px;
        right: -285px;
        height: 70vh;
        z-index: -1;
    }
    .inner-slider {
        padding-top: 80px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 120px;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .bg-spcl{
        font-size: 16px;
    }
    .nav-item {
        padding: 10px 10px;
        z-index: 1002;
    }
	.title-main {
        font-family: Tim;
        font-size: 65px;
        line-height: .9;
        color: #716a5a;
        text-align: center;
        padding-top: 60px;
    }
    .ilus-3 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        opacity: 0.3;
        height: 100%;
    }
    .float-lodgin {
        position: absolute;
        top: 70px;
        width: 40%;
    }
    .cont-sec2-1 {
        padding: 20px 40px 20px 40px;
    }
    .float-slide-part {
        width: 800px;
        height: 340px;
        position: absolute;
        bottom: 290px;
        left: 25%;
        z-index: 1002;
        background-color: #998e7a;
        color: #353228;
    }
    .pad-remove .desc-main {
        padding: 10px 20px 20px 20px;
    }
    .back-beach {
        position: absolute;
        left: 0;
        bottom: 4%;
        height: 450px;
        z-index: -1;
    }
    .adjst-pad {
        padding: 0px 0px 60px 0px;
    }
    .roots {
        padding: 40px 130px;
    }
    .title-main2 {
        font-family: Tim;
        font-size: 65px;
        line-height: .9;
        color: #353228;
        text-align: center;
        padding-top: 60px;
    }
    .boat-sec .title-main {
        padding-top: 60px;
    }
    .back-box2 {
        position: absolute;
        top: -55px;
        right: -260px;
        height: 80vh;
        z-index: -1;
    }
    .inner-content {
        padding: 20px 200px;
    }
    .sp-pad-bg .cont-sec2-1 {
        padding: 20px 20px 20px 20px;
        min-height: 600px;
    }
    .sp-pad-bg {
        padding: 20px 0px;
    }
    .title-main {

        padding-top: 10px;
    }
    .height-change{
        height: 100%;
    }
    .abt .bg-brown .cont-sec2-1 {
        padding-top: 50px;
    }
    .back-box-f {
        position: absolute;
        bottom: 40px;
        right: -285px;
        height: 70vh;
        z-index: -1;
    }
    .inner-slider {
        padding-top: 80px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 120px;
    }
	
}
@media (min-width: 1441px) and (max-width: 1600px) {
    .bg-spcl{
        font-size: 16px;
    }
    .nav-item {
        padding: 10px 10px;
        z-index: 1002;
    }
	.title-main {
        font-family: Tim;
        font-size: 65px;
        line-height: .9;
        color: #716a5a;
        text-align: center;
        padding-top: 60px;
    }
    .ilus-3 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        opacity: 0.3;
        height: 100%;
    }
    .float-lodgin {
        position: absolute;
        top: 30px;
        width: 40%;
    }
    .cont-sec2-1 {
        padding: 20px 40px 20px 40px;
    }
    .float-slide-part {
        width: 800px;
        height: 315px;
        position: absolute;
        bottom: 513px;
        left: 25%;
        z-index: 1002;
        background-color: #998e7a;
        color: #353228;
    }
    .pad-remove .desc-main {
        padding: 10px 20px 20px 20px;
    }
    .back-beach {
        position: absolute;
        left: 0;
        bottom: 4%;
        height: 450px;
        z-index: -1;
    }
    .adjst-pad {
        padding: 0px 0px 60px 0px;
    }
    .roots {
        padding: 40px 130px;
    }
    .title-main2 {
        font-family: Tim;
        font-size: 65px;
        line-height: .9;
        color: #353228;
        text-align: center;
        padding-top: 60px;
    }
    .boat-sec .title-main {
        padding-top: 60px;
    }
    .back-box2 {
        position: absolute;
        top: -55px;
        right: -260px;
        height: 80vh;
        z-index: -1;
    }
    .inner-content {
        padding: 20px 350px;
    }
    .sp-pad-bg .cont-sec2-1 {
        padding: 20px 20px 20px 20px;
        min-height: 600px;
    }
    .sp-pad-bg {
        padding: 20px 0px;
    }
    .title-main {

        padding-top: 10px;
    }
    .height-change{
        height: 100%;
    }
    .abt .bg-brown .cont-sec2-1 {
        padding-top: 50px;
    }
    .back-box-f {
        position: absolute;
        bottom: 40px;
        right: -285px;
        height: 70vh;
        z-index: -1;
    }
    .inner-slider {
        padding-top: 80px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 120px;
    }
}
@media (min-width: 1601px) and (max-width: 2000px) {

}
@media (min-width: 2001px) and (max-width: 3000px) {
    .float-slide-part {
        width: 800px;
        height: 340px;
        position: absolute;
        bottom: 840px;
        left: 46%;
        z-index: 1002;
        background-color: #998e7a;
        color: #353228;
    }
}
